root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
max_line_length = 100

[Makefile]
indent_style = tab

[*.bs]
indent_size = 1

[*.py]
indent_size = 4

[*.js]
max_line_length = 120

[.gitmodules]
indent_style = tab
