node_modules

benchmark/browser-bundle.js
benchmark/browser-runner.html
test/worker-bundle.js

lib/jsdom/browser/default-stylesheet.js
lib/jsdom/level3/xpath.js

lib/jsdom/living/generated/**

test/*.js
!test/chai-helpers.js
!test/karma*
!test/util.js

test/api/fixtures
test/jquery-fixtures
test/to-port-to-wpts/files
test/to-port-to-wpts/frame.js
test/to-port-to-wpts/level1
test/to-port-to-wpts/level2
test/to-port-to-wpts/level3
test/to-port-to-wpts/script.js
test/web-platform-tests/tests
test/web-platform-tests/to-upstream/dom/nodes/Document-createComment-createTextNode.js
test/web-platform-tests/to-upstream/svg/element-svg.html
test/web-platform-tests/to-upstream/svg/svgstringlist.html
test/web-platform-tests/to-upstream/**/*dont-upstream*
