node_modules

benchmark/browser-bundle.js
test/worker-bundle.js

lib/jsdom/browser/default-stylesheet.js
lib/jsdom/level2/style.js
lib/jsdom/level3/xpath.js

lib/jsdom/living/generated/**

test/browser/files
test/browser/index.js
test/jquery-fixtures
test/jsdom/files
test/jsdom/leak.js
test/level1
test/level2
test/level3
test/sizzle
test/web-platform-tests/tests
test/window/files
test/window/frame.js
test/window/script.js
test/*.js
!test/karma*
!test/util.js
!test/chai-helpers.js
