{
  "root": true,
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": false,
    "destructuring": false,
    "forOf": true,
    "generators": true,
    "modules": false,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": false,
    "regexYFlag": false,
    "restParams": false,
    "spread": false,
    "superInFunctions": false,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "rules": {
    // Possible errors
    "comma-dangle": [2, "never"],
    "no-cond-assign": [2, "except-parens"],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0, // https://github.com/eslint/eslint/issues/3065
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 0,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,

    // Best practices
    "accessor-pairs": 2,
    "block-scoped-var": 0,
    "complexity": 0,
    "consistent-return": 2,
    "curly": [2, "all"],
    "default-case": 0,
    "dot-notation": 2,
    "dot-location": [2, "property"],
    "eqeqeq": 2,
    "guard-for-in": 0,
    "no-alert": 0,
    "no-caller": 2,
    "no-div-regex": 0,
    "no-else-return": 2,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 2,
    "no-implied-eval": 0,
    "no-invalid-this": 0, // meh
    "no-iterator": 2,
    "no-labels": 0,
    "no-lone-blocks": 0,
    "no-loop-func": 0,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 0,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 0,
    "no-process-env": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": [2, "always"],
    "no-script-url": 0,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-void": 2,
    "no-warning-comments": 0,
    "no-with": 2,
    "radix": 0,
    "vars-on-top": 0,
    "wrap-iife": [2, "outside"],
    "yoda": [2, "never"],

    // Strict Mode
    "strict": [2, "global"],

    // Variables
    "init-declarations": 0,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 0,
    "no-unused-vars": 2,
    "no-use-before-define": [2, "nofunc"],

    // Node.js and CommonJS
    "callback-return": 0,
    "global-require": 2,
    "handle-callback-err": 2,
    "no-mixed-requires": [2, true],
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-exit": 0,
    "no-restricted-modules": [2, "url"],
    "no-sync": 0,

    // Stylistic Issues
    "array-bracket-spacing": [2, "never"],
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": [2, { "properties": "always" }],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-this": 0,
    "eol-last": 2,
    "func-names": 0,
    "func-style": [2, "declaration"],
    "id-length": 0,
    "id-match": 0,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "jsx-quotes": 0,
    "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "lines-around-comment": 0,
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": 0,
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": 0,
    "no-array-constructor": 2,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": 2,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-restricted-syntax": 0,
    "no-spaced-func": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0, // TODO maybe when we use symbols everywhere...
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "one-var": [2, "never"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "double"],
    "require-jsdoc": 0,
    "semi-spacing": 2,
    "semi": [2, "always"],
    "sort-vars": 0,
    "space-after-keywords": [2, "always"],
    "space-before-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "spaced-comment": [2, "always", { "markers": ["///"] }],
    "wrap-regex": 0,

    // ECMAScript 6
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": [2, "after"],
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 0,
    "prefer-reflect": 0,
    "prefer-template": 0,
    "require-yield": 2
  }
}
