Elijah Insua <tmpvar@gmail.com> <tmpvar@tmpvar.(none)>
Brandon Paton <brandon@localizejs.com> <bp@brandonpaton.com>
Domenic Denicola <d@domenic.me> <domenic@domenicdenicola.com>
Felix Gnass <fgnass@gmail.com> <felix.gnass@neteye.de>
Felix Gnass <fgnass@gmail.com> <felix.gnass@riotfamily.org>
Joris van der Wel <joris@jorisvanderwel.com>
Jos Shepherd <jos@hipsnip.com> <jos.shepherd@hipsnip.com>
Karuna Sagar <karunasagark@gmail.com>
Mariusz Nowak <mariusz@medikoo.com> <medyk@medikoo.com>
Nicolas LaCasse <nicolas.lacasse@gmail.com> <nlacasse@alum.mit.edu>
Nicolas LaCasse <nicolas.lacasse@gmail.com> <nlacasse@borderstylo.com>
Robin <fbzhong@gmail.com>
ulteriorlife <ulteriorlife@gmail.com> <ulterior@vbox.(none)>
Ivan Nikulin <ifaaan@gmail.com>
Jeff Carpenter <gcarpenterv@gmail.com>
Sebastian Mayr <sebmaster16@gmail.com> <sebastian@trello.com>
Martin Naumann <mr.avgp@gmail.com> <martin@geekonaut.de>
