#jank-meter {
    text-align: center;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spacing;
}

@keyframes spacing {
    0% { letter-spacing: 0em; }
    100% { letter-spacing: 2em; }
}
