name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint
  build-with-canvas:
    name: Tests with node-canvas
    env:
      TEST_SUITE: 'node-canvas'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install required image manipulation packages with APT
        run: sudo apt-get update && sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Setup hosts file for web platform tests server
        run: ./test/web-platform-tests/tests/wpt make-hosts-file | sudo tee -a /etc/hosts
      - name: Install dependencies and canvas
        run: npm ci && npm i canvas@3
      - name: Run tests
        run: npm test
  build:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          # Explicitly test minimum Node.js versions. Keep in sync with package.json.
          - 20.19.0
          - 20
          - 22.12.0
          - 22
          - 24.0.0
          - lts/*   # currently 24
          - latest  # currently 25
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setup hosts file for web platform tests server
      run: ./test/web-platform-tests/tests/wpt make-hosts-file | sudo tee -a /etc/hosts
    - name: Install dependencies
      run: npm ci --engine-strict
    - name: Run tests
      run: npm test
